   /* Define styles for the header and navigation */
   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

   *{
       font-family: "Poppins";
   }
   .flex {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   nav ul {
       list-style: none;
       margin: 0;
       padding: 0;
   }

   nav ul li {
       display: inline;
       margin-right: 20px;
   }

   nav ul li a {
       color: black;
       text-decoration: none;
   }

   main {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .sec {

       border-radius: 10px;
       width: 95%;
       height: 94%;
   }

   #menu {
       width: 80%;
   }

   #section1 #right_inner {
       padding-right: 40px;
   }

   #section1 #right_inner img {
       width: 90%;
   }

   #section1 .up p,#btn {
       width: 70%;
   }
 
   /*section 2&3*/

 

   #section2 .container,#section3 .container{
       margin-top: 0;
       width: 100%;
       border-radius: 10px;
       box-shadow: 2px 2px 5px 2px rgba(199, 199, 199, 0.615)

   }
   thead{
       border: 2px solid black;
   }
   table {
       border-collapse:collapse;
       border: 2px solid black;
   }
   #id{
       background-color: #fff;
   }

   .table th{
       text-align: center;
       background-color: #d3d3d3;
   }
   .table td{
       text-align: center;
   }
  .table tr:nth-child(even) {background-color: #f2f2f2;}


/*pop window*/
 .form-container {
    width: 80%;
    max-width: 500px;
    padding:15px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
}

#popup .form-container form {
    display: flex;
    flex-direction: column;
}

#popup label {
    margin: 10px 0;
}

#popup input[type="text"],
#popup input[type="email"],
#popup input[type="tel"],
#popup textarea,
#popup select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#popup .address input {
    width: calc(48%);
    margin-right: 5px;
}

#popup .vehicle-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#popup input[type="radio"] {
    margin-right: 5px;
}

#popup input[type="submit"],#popup a {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
}

#popup input[type="submit"]:hover,#popup a:hover {
    background-color: #0056b3;
}

#popup a{
    display: inline-block;
  text-align: center;
  text-decoration: none;
}






   /*Section 2&3 end*/
  
  
  /*Section 4*/
 

   .container {
       width: 100%;
       height: 100%;
   }

   .form-contain {
       width: 100%;
       height: 100%;
       border: 2px solid transparent;
       border-radius: 10px;
       box-shadow: 2px 2px 5px 2px rgba(199, 199, 199, 0.615)
   }

   .panel-left {
       width: 30%;
       height: 100%;
       flex-direction: column;
       padding: 20px;
   }

   .panel-right {
       width: 70%;
       height: 100%;
   }
   .panel-left div{
       margin: 15px 0;
   }
   .profile-pic img{
       width: 50%;
height: 100%;
   }

   .container {

       width: 95%;
       background-color: #fff;
       padding: 0 30px;
       flex-direction: column;

   }

   .container .title {
       font-size: 25px;
       font-weight: 500;
       position: relative;
   }

   .container .title::before {
       content: "";
       position: absolute;
       left: 0;
       bottom: 0;
       height: 3px;
       width: 30px;
       border-radius: 5px;
       background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }

   .content form .user-details {
       display: flex;
       flex-wrap: wrap;
     justify-content: center;
       margin: 20px 0 12px 0;
   }

   form .user-details .input-box {
       margin:15px 25px;
      
   }

   form .input-box span.details {
       display: block;
       font-weight: 500;
       margin-bottom: 5px;
   }

   .user-details .input-box input {
       height: 45px;
       width: 100%;
       outline: none;
       font-size: 16px;
       border-radius: 5px;
       padding-left: 15px;
       border: 1px solid #ccc;
       border-bottom-width: 2px;
       transition: all 0.3s ease;
   }

   .user-details .input-box input:focus,
   .user-details .input-box input:valid {
       border-color: #9b59b6;
   }

   form .gender-details .gender-title {
       font-size: 20px;
       font-weight: 500;
   }

   form .category {
       display: flex;
       width: 80%;
       margin: 14px 0;
       justify-content: space-between;
   }

   form .category label {
       display: flex;
       align-items: center;
       cursor: pointer;
   }

   form .category label .dot {
       height: 18px;
       width: 18px;
       border-radius: 50%;
       margin-right: 10px;
       background: #d9d9d9;
       border: 5px solid transparent;
       transition: all 0.3s ease;
   }

   #dot-1:checked~.category label .one,
   #dot-2:checked~.category label .two,
   #dot-3:checked~.category label .three {
       background: #9b59b6;
       border-color: #d9d9d9;
   }

   form input[type="radio"] {
       display: none;
   }

   form .button {
       height: 45px;
       margin: 35px 0;
       text-align: right;
       width: 90%;
   }

   form .button input {
       height: 100%;
       width: 30%;
       border-radius: 5px;
       border: none;
       color: #fff;
       font-size: 18px;
       font-weight: 500;
       letter-spacing: 1px;
       cursor: pointer;
       transition: all 0.3s ease;
       background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }

   form .button input:hover {
       /* transform: scale(0.99); */
       background: linear-gradient(-135deg, #71b7e6, #9b59b6);
   }

   @media(max-width: 584px) {
       .container {
           max-width: 100%;
       }

       form .user-details .input-box {
           margin-bottom: 15px;
           width: 100%;
       }

       form .category {
           width: 100%;
       }

       .content form .user-details {
           max-height: 300px;
           overflow-y: scroll;
       }

       .user-details::-webkit-scrollbar {
           width: 5px;
       }
   }

   @media(max-width: 459px) {
       .container .content .category {
           flex-direction: column;
       }
   }

   /*Section 4 end*/





   /*Section 5*/

   .panel-container {
       background-color: #828bc4;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
       border-radius: 15px;
       font-size: 90%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       padding: 30px;
       max-width: 400px;
       color: #fff;
       margin: 6% auto 2% auto;
       height: 350px;
   }

   .panel-container strong {
       line-height: 20px;
   }

   .ratings-container {
       display: flex;
       margin-top: 20px;

   }

   .rating {
       flex: 1;
       cursor: pointer;
       padding: 20px;
       margin: 10px 5px;
   }

   .card {
       height: 100%;
   }

   .rating:hover,
   .rating.active {
       border-radius: 4px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

   .card {
       height: 100%;
   }

   .rating img {
       width: 40px;
   }

   .rating small {
       color: #fff;
       display: inline-block;
       margin: 10px 0 0;
   }

   .rating:hover small,
   .rating.active small {
       color: #fff;
   }

   .message {
       margin: 20px;
       margin-bottom: 30px;
   }

   .message input {
       padding: 10px 18px;
       border: 2px solid transparent;
       border-radius: 20px;
   }

   .btn {
       background-color: #fff;
       color: #828bc4;
       border: 0;
       border-radius: 4px;
       padding: 12px 30px;
       cursor: pointer;
       transition: .15s ease-in;
   }

   .btn:hover {
       background-color: #f8f8f8;
   }

   .btn:focus {
       outline: 0;
   }

   .btn:active {
       transform: scale(0.98);
   }

   .fa-heart {
       color: red;
       font-size: 30px;
       margin-bottom: 10px;
   }


   .credit a {
       text-decoration: none;
       color: #fff;
   }

   .credit {
       text-align: center;
   }

   /*Section 5 end*/